<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788663ed3040bfc8f41941756d68abc3:ce9447045b2f4be7b2df5f4b914c5030:a3fe7b1b3c4ee682ff9a82fe3e5f3c4e$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>kiki_normal.1.png</string>
                <key>size</key>
                <string>{222,98}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_01.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_02.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_04.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_05.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_03.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{75,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_06.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{75,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_07.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{75,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_09.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{75,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_11.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{75,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_08.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{149,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>kiki_normal_10.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{149,1},{72,96}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
